.about-container {
    width: 100%;
    height: 75vh;
    background: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-gallery {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img-box {
    width: 150px;
    height: 720px;
    margin: 0 20px;
    border-radius: 10px;
    background: url(../res/images/about/target1.png);
    background-size: cover;
    background-position: center;
    position: relative;
    filter: grayscale(100%);
    transition: width 0.5s ease-in-out, filter 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.about-img-box:nth-child(2) {
    background: url(../res/images/about/target2.png);
    background-size: cover;
    background-position: center;
}

.about-img-box:nth-child(3) {
    background: url(../res/images/about/target3.png);
    background-size: cover;
    background-position: center;
}

.about-img-box:nth-child(4) {
    background: url(../res/images/about/target4.png);
    background-size: cover;
    background-position: center;
}

.about-img-box:nth-child(5) {
    background: url(../res/images/about/target5.png);
    background-size: cover;
    background-position: center;
}

.about-img-box:nth-child(6) {
    background: url(../res/images/about/target6.png);
    background-size: cover;
    background-position: center;
}

.about-img-box:nth-child(7) {
    background: url(../res/images/about/target7.png);
    background-size: cover;
    background-position: center;
}

.about-img-box h3 {
    color: #fff;
    max-width: 75%;
    font-size: 30px;
    position: absolute;
    bottom: 70px;
    margin-bottom: 30px;
    left: 30px;
    white-space: pre-line;
    opacity: 0;
}

.about-img-box p {
    color: #fff;
    position: absolute;
    font-style: oblique;
    font-size: 12px;
    bottom: 10px;
    right: 30px;
    white-space: pre-line;
    opacity: 0;
}

.about-img-box:hover {
    width: 350px;
    filter: unset;
    cursor: pointer;
    border: 2px solid #007bff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.about-img-box:hover h3 {
    font-size: 30px;
    opacity: 1;
    bottom: 50px;
    transition-delay: 0.45s;
    z-index: 2;
}

.about-img-box:hover p {
    opacity: 1;
    bottom: 30px;
    transition-delay: 0.45s;
    z-index: 2;
}

/* TODO: AYUSIN DAW NI ARVY !!!!*/
.about-img-box::before,
.about-img-box::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.4),
            rgba(211, 202, 202, 0.025),
            rgba(255, 255, 255, 0.4));
    color: #fff;
    padding: 10px;
}

/*For the Our Aim*/
.about-aim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.about-aim-column {
    display: block;
    margin: 10px;
    margin: 10px 0;
    max-width: 100%;
}
  
.about-aim-content {
    font-size: 20px;
    display: block;
    width: 100%;
    max-width: 800px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    color: #333333;
}

.about-aim-info {
    text-align: center;
}
/*End*/

.about-title-section {
    margin-top: 100px;
    padding: 10px;   
    text-align: center;
}

.about-content-section{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.about-title-section p {
    max-width: 75%;
    font-size: 24px;
    line-height: 2;
    max-width: 70%;
    text-align: center;
    overflow-wrap: break-word;
    margin: 0 auto;
    color: #333333;
}

.about-content-section p {
    max-width: 75%;
    font-size: 24px;
    line-height: 2;
    max-width: 70%;
    text-align: center;
    overflow-wrap: break-word;
    margin: 0 auto;
    color: #333333;
}