@import url(fontface.css);

.footer {
  background-color: #071952;
  color: #EEEEEE;
  padding: 20px 5%;
  text-align: center;
  width: 100%;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  flex-wrap: wrap;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer-nav {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px;
}

.footer-nav a {
  color: #EEEEEE;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #37B7C3;
}

.footer-logo {
  width: 85px;
  height: 85px;
}

.footer-column1 {
  display: flex;
  gap: 35px;
  align-items: center;
}

.footer-column2{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 75px;
  width: 30%;
  height: 30%;
}

.footer-column2 p{
  display: inline-flex;
  text-align: justify;
  padding-inline: 20px;
}

.call-message {
  display: flex;
  align-items: center;
  justify-content: center;
}
.call-message img{
  height: 30px;
}

.call-message p{
  width: 200px;
}

.footer-column3{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 25%;
}

.footer-column3 h3{
  font-weight: bold;
}

.footer-column3 p{
  line-height: 1.5;
}