.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 3%;
  background: #071952;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hides the icon for side bar initially */
.sidebar-checkbox {
  display: none;
}

.toggle-button {
  display: none;
}

.navbar a {
  font-size: var(--text-size-anchor);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  padding: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, padding 0.3s;
}

a {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  color: #EEEEEE;
  font-size: var(--text-size-content-parag-var2);
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.navbar a:after {
  content: "";
  position: absolute;
  background-color: #79E7FF;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-pic {
  width: 60px;
  height: 60px;
}

.logo-text {
  margin-left: 20px;
  font-size: var(--text-size-header-secondary);
  color: #fff;
}

a.hover {
  color: #79E7FF;
}

a.active {
  color: #79E7FF;
}

a.active:after,
a:hover:after {
  width: 100%;
}