/* For INITIATIVES Page */
.initiatives-banner-card {
  position: relative;
  background-color: #eeeeee;
}

.initiatives-banner-card img {
  width: 100%;
  height: auto;
}

.initiatives-banner-text {
  position: absolute;
  text-align: center;
  top: 28%;
  left: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.left-text {
  flex: 1;
  font-size: calc(var(--text-size-page-titles) + 130px);
}

.right-text {
  flex: 2;
  text-align: left;
  margin-left: 50px;
  font-size: calc(var(--text-size-page-titles) - 20px);
  display: flex;
  flex-direction: column;
}

.initiatives-title-section {
  text-align: left;
  padding: 30px 0%;
  margin-bottom: 20px;
}

.initiatives-title {
  font-size: var(--text-size-header-primary);
  font-weight: bold;
  color: black;
}

.initiatives-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  padding: 1.25rem;
}

.initiatives-content {
  display: flex;
  background-color: #fff;
  width: 750px;
  height: 400px;
  align-items: center;
  padding: 15px 1%;
  border-radius: 5px;
  transition: transform 0.3s, background-color 0.3s ease;
}

.initiatives-content:hover {
  background-color: #fff;
  transform: scale(1.02);
}


.initiatives-content-image img {
  position: relative;
  width: 260px;
}

.initiatives-content-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 10px;
}

.initiatives-content-info h3 {
  font-size: var(--text-size-header-secondary);
  line-height: 40px;
}

.initiatives-content-info p {
  text-align: justify;
  justify-self: center;
  margin: 15px auto;
  margin-bottom: 15px;
  font-size: var(--text-size-content-parag-var2);
  max-width: 100%;
}

.initiatives-content-info .btn {
  text-decoration: none;
  max-width: 50%;
  padding: 0.5rem 1rem;
  background: #37B7C3;
  font-size: var(--text-size-anchor);
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}

/* What To Do section */
.todo-row {
  display: flex;
  margin: 10px;
  max-width: 100%;
  gap: 10px;
  justify-content: space-between;
}

.todo-content {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #EEEEEE;
  padding: 15px 20px;
  border-radius: 5px;
  transition: transform 0.3s, background-color 0.3s ease;
}

.todo-image-icon img {
  height: 90px;
  width: auto;
}

.todo-info {
  padding-left: 20px;
  font-size: 20px;
}

/* Main Donation Section */

.donation-title-section {
  text-align: center;
  padding: 30px 0%;
  margin-bottom: 20px;
}
  
.donation-title {
  font-size: var(--text-size-header-primary);
  font-weight: bold;
  color: black;
}

.main-donation-container {
  position: relative;
  margin: 0 100px;
  padding: 50px;
  background-color: #fff;
  border-radius: 15px;
  border: 5px solid #37B7C3;
  height: 640px;
}

.main-donation-container img {
  width: 1000px;
  height: 600px;
}

.main-donation-container .main-donation-wave {
  width: 100%;
  height: auto;
  position: absolute; 
  bottom: -50px;
  right: -630px;
}

.main-donation-content {
  width: 65%;
}

.main-donation-content h2 {
  font-size: calc(var(--text-size-header-primary) - 8px);
  margin-bottom: 20px;
}

.main-donation-content p {
  margin-left: 20px;
  font-size: var(--text-size-anchor);
  text-align: justify;
  line-height: 1.25;
}

.main-donation-progress {
  margin: 40px 0 60px;
}

.main-donation-progress h6 {
  font-size: 24px;
  margin-bottom: 8px;
}

.progress-bar {
  position: relative;
  width: 720px;
  height: 30px;
  border-radius: 30px;
  background-color: #eeeeee;
}

.progress-bar span {
  position: absolute;
  top: 0;
  left: 0;
  width: 42%;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.7;
  text-align: center;
  height: 100%;
  color: #fff;
  background: #37B7C3;
  border-radius: 30px;
}

.main-donation-buttons {
  display: flex;
  gap: 20px;
}

.donate-button {
  text-decoration: none;
  padding: 1.5rem;
  background: #37B7C3;
  letter-spacing: 1.5px;
  color: #EEEEEE;
  font-size: var(--text-size-anchor);
  font-weight: 1000;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}

.learnmore-button {
  text-decoration: underline;
  padding: 1.5rem 1.5rem;
  letter-spacing: 1.5px;
  color: #37B7C3;
  font-size: var(--text-size-anchor);
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}

.learnmore-button a{
  color: #37B7C3;
}

.other-donations-title-section {
  text-align: left;
  padding: 30px 0 0;
  margin-bottom: 20px;
}

/* Other Donations Section */
.other-donations-title {
font-size: var(--text-size-header-primary);
  font-weight: bold;
  color: black;
  margin-top: 50px;
}

.donation-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1.25rem;
}
.donation-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  width: 400px;
  height: 400px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.donation-card .donation-details {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.donation-card .donation-details img {
  width: 120px;
  height: auto;
}

.donation-card .donation-details h3 {
  font-size: 30px;
  font-weight: 800;
}

.donation-card .about-donation {
  font-size: var(--text-size-content-parag-var2);
  text-align: justify;
}

.donation-card .donate-button {
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  background: #37B7C3;
  letter-spacing: 1.5px;
  color: #EEEEEE;
  font-size: var(--text-size-anchor);
  font-weight: 1000;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
  align-self: flex-end;
}