@media (max-width: 1500px) {
  .banner-card {
    position: relative;
  }

  .banner-text {
    position: absolute;
    top: 55% !important;
    left: 10px;
    color: #fff;
    padding: 10px;
  }

  .hero-title {
    font-size: 52px !important;
  }

  .title-section p {
    font-size: 24px !important;
    line-height: 1.5;
  }

  .lifeblood-text,
  .seventy-percent-text,
  .our-aim {
    font-size: 24px !important;
  }

  .content-container {
    flex-direction: column;
  }

  .content-holder h2 {
    font-size: 40px !important;
  }

  .content-holder p {
    font-size: 24px !important;
  }

  .content-container .content-image {
    order: 1;
  }

  .content-container .content-holder {
    order: 2;
    align-items: center;
    justify-content: center;
    margin: 25px 0 0 0 !important;
  }

  .content-holder p {
    max-width: 100%;
    text-align: center !important;
  }

  .left-aligned .content-holder {
    align-items: center !important;
    text-align: center !important;
    margin: 0 auto;
  }

  .left-aligned .content-holder h2 {
    font-weight: bolder;
    color: #071952;
    margin-bottom: 10px;
    text-align: center !important;
  }

  .left-aligned .content-holder p {
    max-width: 100%;
    text-align: center !important;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1.25rem;
  }

  .about-container {
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    background: #eeeeee;
    display: flex;
    flex-direction: column !important;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .about-img-box {
    width: 120px !important;
    height: 500px !important;
    margin: 0 10px !important;
  }

  .about-img-box h3 {
    font-size: 26px !important;
  }

  .about-img-box:hover {
    width: 300px !important;
  }

  .initiatives-banner-text {
    top: 35% !important;
  }

  .left-text {
    font-size: calc(var(--text-size-page-titles) + 30px) !important;
  }

  .right-text {
    font-size: calc(var(--text-size-page-titles) - 50px) !important;
  }
}

/* Media Query for 1024 */
@media screen and (max-width: 1024px) {
  .about-container {
    width: 100%;
    height: 110vh !important;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }

  .about-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 110vh !important;
    margin: 0 auto;
  }

  .about-img-box {
    width: 150px !important;
    height: 350px !important;
    margin: 0 10px !important;
  }

  .about-img-box:hover {
    width: 250px !important;
  }

  .initiatives-banner-text {
    top: 35% !important;
  }

  .initiatives-banner-text .left-text h1 {
    font-size: 170px !important;
  }

  .initiatives-banner-text .right-text h1 {
    font-size: 60px !important;
  }

  .main-donation-container {
    height: 750px !important;
  }

  .main-donation-container .main-donation-wave {
    width: auto !important;
    bottom: -25px !important;
    right: -40px !important;
  }

  .main-donation-content {
    width: 100% !important;
  }

  .footer-column1 {
    width: 40%;
    align-items: center;
  }

  .main-donation-container img {
    width: 500px !important;
    height: auto !important;
  }

  .progress-bar {
    width: 100% !important;
  }

  .footer-content {
    justify-content: space-evenly;
  }

  .footer-column2 {
    flex-direction: row;
    width: 50% !important;
    text-align: center;
  }

  .footer-column2 .call-message p {
    white-space: nowrap;
  }

  .footer-column3 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .footer-nav a {
    color: #eeeeee;
    text-decoration: none;
    font-size: 18px;
  }

  .footer-nav p {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  /* HOME PAGE */
  /* Save Our Seas Text */
  .header {
    order: 1 !important;
    padding: 10px 13% !important;
    font-family: "LibreBaskerville";
  }

  /* Logo */
  .header img {
    width: 40px;
    height: 40px;
  }

  .header h1 {
    font-size: 25px;
    font-family: "LibreBaskerville";
  }

  /* Banner Card */
  .banner-card video {
    padding-top: 7% !important;
    width: 100% !important;
    height: auto !important;
  }

  .banner-card{
    background: transparent !important;
  }

  .desktop-video {
    display: none;
  }

  .mobile-video {
    display: block !important;
  }

  /* Banner Text */
  .banner-text {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    color: #fff;
    padding: 10px;
  }

  /* SDG 14 Text */
  .banner-text h4 {
    font-size: var(--text-size-content-title) !important;
    font-family: "LibreBaskerville";
    text-align: left;
  }

  /* Life Below Water Text */
  .banner-text h2 {
    font-size: calc(var(--text-size-header-primary) + 10px) !important;
    font-family: "LibreBaskervilleB";
    text-align: left;
  }

  /* Navigation Bar */
  .toggle-button {
    display: block;
    font-size: 24px;
    padding: 10px;
    background-color: transparent !important;
    color: #eeeeee;
    position: fixed;
    top: 4px;
    left: 10px;
    z-index: 3;
  }

  .navbar {
    width: 480px;
    height: 120vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #e1d7b7;
    padding-top: 60px;
    z-index: 2;
    transition: left 0.3s ease-in-out;
  }

  .navbar a {
    display: block;
    margin: 10px 0 10px 20px;
    color: #071952;
    font-family: "Montserrat-Regular";
    font-size: 18px;
    padding: 10px;
    text-align: left;
    pointer-events: none;
  }

  .navbar > a::after {
    background-color: transparent;
  }

  .sidebar-checkbox:checked ~ .navbar {
    left: 0;
    background-color: #e1d7b7;
    opacity: 1;
    animation: slideToRight 0.3s ease-in-out;
  }

  .sidebar-checkbox:checked ~ .navbar a {
    pointer-events: auto;
  }

  .sidebar-checkbox:checked ~ .toggle-button {
    animation: rotate 0.3s ease-in-out;
    background-color: #e1d7b7;
    color: #000;
  }

  .main {
    z-index: 10 !important;
    order: 2 !important;
    background-color: transparent !important;
  }

  /* General Styles */
  .home-main-container {
    display: flex;
    flex-direction: column;
  }

  .home-main-container::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1a274e;
    opacity: 1;
    background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #1e2a5e 18px
    );
  }

  /* Footer */
  .footer {
    order: 5 !important;
  }

  .footer-content {
    display: flex;
    justify-content: flex-start;
  }

  .footer-column1 {
    width: 70px;
    align-items: center;
    gap: 0px;
  }

  .footer-column2 {
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 80px !important;
    text-align: center;
  }

  .footer-column2 .call-message {
    font-family: "Montserrat-Regular";
    width: 200px !important;
  }

  .footer-column2 .call-message p {
    white-space: nowrap;
    font-size: var(--text-size-photo-credits);
    font-family: "Montserrat-Regular";
  }

  .footer-column3 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .footer-column3 h3 {
    font-size: calc(var(--text-size-photo-credits) + 2px);
    font-family: "Librebaskerville";
  }

  .footer-column3 p {
    font-size: calc(var(--text-size-photo-credits) - 2px);
    font-family: "Montserrat-Regular";
  }

  .footer-logo {
    width: 70px;
    height: 70px;
  }

  .footer-nav {
    display: none;
    gap: 0px;
  }

  .footer-nav a {
    color: #eeeeee;
    text-decoration: none;
    font-size: 12px;
    margin: 0px;
  }

  .footer-nav p {
    margin: 0;
    padding: 0;
  }

  .footer-nav a {
    font-family: "Montserrat-Regular";
  }

  .footer p {
    margin: 0;
    font-size: 12px;
    font-family: "Montserrat-Regular";
  }

  /* Content */
  /* Save Our Seas - Protect Life
  Beneath the Breeze Text */
  .title-section .hero-title {
    color: #e1d7b7;
    font-size: var(--text-size-header-primary) !important;
    width: 100%;
    font-family: "LibreBaskerville";
    animation: glow 1s ease-in-out infinite alternate;
  }

  /* Description below */
  .title-section p {
    color: #E1D7B7 !important;
    max-width: 100% !important;
    font-size: 16px !important;
    text-align: center !important;
    font-family: "Montserrat-Regular";
  }

  .lifeblood-text,
  .seventy-percent-text {
    font-size: 18px !important;
    font-family: "Montserrat-Regular";
  }

  .content-container {
    order: 3 !important;
  }

  .content-container:hover {
    background-color: transparent !important;
  }

  /* Pictures in Containers*/
  .content-container img {
    width: 100% !important;
    max-width: 400px !important;
  }

  .content-container h2 {
    color: #E1D7B7 !important;
    font-size: 24px !important;
    text-align: center;
    font-family: "LibreBaskerville";
  }

  .content-container p {
    font-size: 16px !important;
    max-width: 100% !important;
    text-align: center !important;
    font-family: "Montserrat-Regular";
    color: #fff !important;
  }

  .content-container .content-image p {
    font-size: 12px !important;
    color: rgb(255, 255, 255) !important;
  }

  .text-span {
    font-family: "Montserrat-Regular";
  }

  .content-image img {
    width: 100% !important;
    max-width: 1000px !important;
  }

  .card {
    width: 100%;
    max-width: 400px !important;
    height: 350px;
    border-radius: 20px;
    background-color: #1e2a5e !important;
  }

  .card .card-title {
    font-size: 24px;
    text-align: center;
    font-family: "LibreBaskerville";
    font-weight: 600;
    margin-bottom: 1rem;
    color: #5b99c2 !important;
  }

  .card .card-body {
    font-size: 16px;
    font-family: "Montserrat-Regular";
    text-align: justify;
    margin-bottom: 1.5rem;
    flex-grow: 1;
    color: #7c93c3 !important;
  }

  .card-reference {
    font-family: "Montserrat-Black";
  }

  /* Infinite Slider */
  .infinite-slider {
    order: 4 !important;
    padding: 30px 0 !important;
    background-color: #1e2a5e !important;
    border: hidden !important;
  }

  .infinite-slider::before,
  .infinite-slider::after {
    display: none !important;
  }

  .photo-slider img {
    width: 350px !important;
    height: 200px !important;
    margin: 0 10px !important;
  }

  .photo-slider .credits {
    right: 20px;
    background-color: rgba(151, 151, 151, 0.5);
    transition: right 0.3s ease-in-out;
  }

  .photo-slider .photos:hover .credits {
    margin: 0 20px 0 0 !important;
    font-size: 12px !important;
  }

  /* END OF MEDIA QUERIES FOR HOME PAGE */

  /* NEWS PAGE */
  .news-main-container {
    display: flex;
    flex-direction: column;
  }

  .news-main-container::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1a274e;
    opacity: 1;
    background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #1e2a5e 18px
    );
  }

  .news-banner-card {
    z-index: 10 !important;
    background-color: transparent !important;
  }

  .news-banner-card img {
    padding-top: 7% !important;
    width: 100% !important;
    height: auto !important;
    z-index: 10 !important;
  }

  .news-banner-text {
    top: 30% !important;
    text-align: center !important;
  }

  .news-banner-text h2 {
    font-size: var(--text-size-header-primary) !important;
    padding-bottom: 1px !important;
    font-family: "LibreBaskerville";
  }

  .news-banner-text h4 {
    font-size: var(--text-size-header-secondary) !important;
    font-family: "LibreBaskerville";
    text-align: center !important;
  }

  .news-title-section {
    font-size: 28px !important;
    text-align: center;
    z-index: 10 !important;
  }

  .news-title-section h1 {
    color: #E1D7B7;
    font-family: "LibreBaskerville" !important;
    animation: glow 1s ease-in-out infinite alternate;
  }

  .news-content-image {
    width: 100%;
    max-width: 400px !important;
    height: 400px !important;
  }

  .news-content-image .info {
    top: 40px !important;
    color: white;
    opacity: 1;
  }

  .news-content-image .info h1 {
    font-size: 20px !important;
    text-align: left !important;
    padding-bottom: 5px !important;
    font-family: "LibreBaskerville";
    color: #E1D7B7;
  }

  .news-content-image .info p {
    text-align: justify !important;
    padding-bottom: 10px !important;
    color: rgb(255, 255, 255);
  }

  .news-content-image .info .btn {
    padding: 10px 15px !important;
    font-size: 15px !important;
    right: 50px !important;
    top: 290px !important;
    opacity: 1 !important;
    left: 60px !important;
    border-radius: 10px !important;
    position: absolute !important;
    display: block !important;
  }

  .date {
    font-family: "Montserrat-Regular" !important;
  }

  .sdg {
    font-family: "Montserrat-Regular" !important;
  }

  /* END OF MEDIA QUERIES FOR NEWS */

  /* Initiatives */
  .initiatives-main-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
  }

  .initiatives-main-container::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #eeeeee 40px
      ),
      repeating-linear-gradient(#cbceff, #bdc1ff);
  }

  .initiatives-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .initiatives-container .initiatives-content {
    width: 650px !important;
    height: 450px !important;
    transition: all 0.3s ease-in-out;
    overflow: hidden !important;
    text-overflow: hidden !important;
    margin-bottom: 20px !important;
  }

  .initiatives-container .initiatives-content .initiatives-content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    opacity: 1;
  }

  .initiatives-container .initiatives-content .initiatives-content-info {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 0 15px !important;
    transition: all 0.3s ease-in-out;
  }

  .initiatives-container .initiatives-content .initiatives-content-info p {
    width: 300px !important;
    height: 90px;
    text-align: justify !important;
    overflow: hidden !important;
  }

  .initiatives-container .initiatives-content:hover {
    margin: 20px 0;
    width: 650px;
    height: 600px;
  }

  .initiatives-container
    .initiatives-content:hover
    .initiatives-content-info
    p {
    height: auto;
  }

  .initiatives-container .initiatives-content .initiatives-content-image img {
    width: 150px !important;
    height: 150px !important;
  }

  /* PAAYOSSSSSS */
  .initiatives-container .initiatives-content .initiatives-content-info .btn {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .initiatives-banner-card img {
    padding-top: 7% !important;
    width: 100% !important;
    height: auto !important;
  }

  .initiatives-banner-text {
    top: 15% !important;
    left: 35px !important;
    text-align: center !important;
  }

  .left-text h1 {
    font-size: 300px !important;
    font-family: "LibreBaskerville" !important;
    margin-left: 20px;
    margin-top: 20px;
  }

  /* Life Below Water */
  .right-text h1 {
    font-size: 40px !important;
    font-family: "LibreBaskerville" !important;
  }

  .initiatives-title {
    font-size: var(--text-size-content-title) !important;
    font-family: "LibreBaskerville" !important;
  }

  .initiatives-title-section {
    margin-bottom: 5px !important;
    z-index: 10 !important;
  }

  .initiatives-title-section .initiatives-title,
  .donation-title-section .initiatives-title {
    position: relative;
    color: #071952 !important;
    font-family: "LibreBaskerville" !important;
    animation: glow 1s ease-in-out infinite alternate !important;
    z-index: 10 !important;
  }

  .initiatives-row {
    flex-direction: column !important;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
  }

  .initiatives-content {
    width: 100% !important;
    max-width: 440px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10 !important;
  }

  .initiatives-content-image img {
    height: 300px !important;
    width: 300px !important;
  }

  .initiatives-content-info {
    width: 100%;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .initiatives-content-info h3 {
    font-size: 20px !important;
    text-align: center !important;
    font-family: "LibreBaskerville" !important;
  }

  .initiatives-content-info p {
    font-family: "Montserrat-Regular";
    text-align: center !important;
  }

  .btn {
    padding: 15px 40px;
    border: none;
    outline: none;
    color: white;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 0;
    border-radius: 12px;
    text-align: center;
    align-items: center !important;
    justify-content: center !important;
    width: auto !important;
    margin: 0 auto !important;
  }

  .btn::before {
    content: "";
    background: linear-gradient(
      45deg, 
      #E1D7B7, 
      #ffffff, 
      #e3e8b0, 
      #faf092, 
      #E1D7B7, 
      #f9aa86, 
      #ffec4c, 
      #f0d16c) !important;
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
  }

  .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #37b7c3;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }

    50% {
      background-position: 400% 0;
    }

    100% {
      background-position: 0 0;
    }
  }

  .todo-row {
    position: relative !important;
    flex-direction: column !important;
    gap: 10px;
    justify-content: flex-start;
    z-index: 10 !important;
  }

  .todo-row .todo-content {
    background: transparent !important;
  }

  .todo-info p {
    font-size: 16px !important;
    font-family: "Montserrat-Regular" !important;
  }

  /* Donation Container */
  .main-donation-container {
    position: relative !important;
    margin: 0 65px !important;
    padding: 20px !important;
    background-color: #fff;
    border-radius: 15px;
    border: 5px solid #37b7c3 !important;
    height: 750px !important;
  }

  .main-donation-container img {
    position: absolute !important;
    top: 480px !important;
    left: 300px !important;
    max-width: 400px !important;
    height: 250px !important;
    align-items: center !important;
  }

  .main-donation-container .main-donation-wave {
    width: 400px !important;
    bottom: 700px !important;
    right: 255px !important;
    z-index: 5 !important;
  }

  .main-donation-content {
    width: 95% !important;
  }

  .main-donation-content h2 {
    font-size: calc(var(--text-size-header-primary) - 8px) !important;
    text-align: center !important;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "LibreBaskerville" !important;
  }

  .main-donation-progress h6 {
    text-align: center;
  }

  .main-donation-content p {
    margin-left: 20px;
    font-size: var(--text-size-anchor);
    text-align: justify;
    line-height: 1.25;
  }

  .progress-bar {
    position: relative;
    width: 450px !important;
    height: 30px;
    border-radius: 30px;
    background-color: #eeeeee;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 auto;
  }

  .main-donation-progress {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }

  .progress-bar span {
    position: absolute;
    top: 0;
    left: 0;
    width: 42%;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.7;
    text-align: center;
    height: 100%;
    color: #fff;
    background: #37b7c3;
    border-radius: 30px;
  }

  .main-donation-buttons {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    gap: 20px;
    width: 35%;
    margin: 0 auto;
  }

  .other-donations-title-section {
    position: relative;
    z-index: 10 !important;
  }

  .other-donations-title-section .other-donations-title {
    font-size: 35px !important;
    text-align: center !important;
    font-family: "LibreBaskerville" !important;
  }

  .donation-details h3 {
    font-family: "LibreBaskerville" !important;
  }

  .donation-cards {
    position: relative;
    z-index: 10 !important;
  }

  .main-donation-container p {
    font-size: 16px !important;
    font-family: "Montserrat-Regular" !important;
  }

  .donate-button {
    text-decoration: none;
    padding: 1rem 1rem !important;
    background: #37b7c3;
    letter-spacing: 1.5px;
    color: #eeeeee;
    font-size: var(--text-size-anchor);
    font-weight: 1000;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 5px;
    z-index: 8 !important;
    font-family: "Montserrat-Regular" !important;
  }

  .learnmore-button {
    text-decoration: underline;
    padding: 1rem 1rem !important;
    letter-spacing: 1.5px;
    color: #37b7c3;
    font-size: var(--text-size-anchor);
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 5px;
    z-index: 8 !important;
    text-align: center;
  }

  .about-donation p {
    font-family: "Montserrat-Regular" !important;
  }

  /*About Webpage */
  .about-container {
    width: 100%;
    height: 140vh !important;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    margin: 30px 0 !important;
    order: 3 !important;
    background-color: transparent !important;
    z-index: 10 !important;
  }

  .about-main-container::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    opacity: 0.5;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #eeeeee 40px
      ),
      repeating-linear-gradient(#cbceff, #bdc1ff);
  }

  .about-gallery {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    height: 100% !important;
    margin: 0 auto !important;
    background-color: transparent !important;
  }

  .about-img-box {
    width: 250px !important;
    height: 350px !important;
    margin: 0 10px !important;
  }

  .about-img-box::before,
  .about-img-box::after {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(211, 202, 202, 0.025)
    ) !important;
  }

  .about-img-box h3 {
    font-size: 18px !important;
  }

  .about-img-box p {
    font-size: 12px !important;
  }

  .about-img-box:hover {
    width: 250px !important;
  }

  .about-img-box:hover h3 {
    left: 15px !important;
    font-family: "LibreBaskerville";
  }

  .about-img-box::before,
  .about-img-box::after {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(211, 202, 202, 0.025)
    ) !important;
  }

  .hero-title {
    font-size: 65px !important;
    text-align: center;
    font-family: "LibreBaskerville";
    animation: glow 1s ease-in-out infinite alternate;
  }

  .about-title-section {
    margin-top: 50px !important;
    width: 100%;
    order: 2 !important;
    z-index: 10 !important;
  }

  .about-title-section p {
    font-size: 20px !important;
    text-align: justify;
    font-family: "Montserrat-Regular";
    z-index: 10 !important;
  }

  .about-content-section p,
  .meet-our-team-description {
    font-size: 20px !important;
    font-family: "Montserrat-Regular";
  }

  .about-content-section {
    margin-top: 40px !important;
    order: 4 !important;
    z-index: 10 !important;
  }

  .meet-our-team-container {
    order: 1 !important;
    z-index: 10 !important;
  }

  .team-member-name {
    font-family: "Montserrat-Regular";
  }

  .team-card {
    width: 100% !important;
    max-width: 250px !important;
    height: 100px;
    border-radius: 20px;
  }
}

/* End of 768px Media Query */

@media screen and (max-width: 480px) {
  .main {
    z-index: 10 !important;
    order: 2 !important;
    background-color: transparent !important;
  }

  /* HOME PAGE */
  /* Save Our Seas Text */
  .header {
    order: 1;
    padding: 10px 13% !important;
    font-family: "LibreBaskerville";
    background-color: #1E2A5E;
  }

  /* Logo */
  .header img {
    width: 40px;
    height: 40px;
  }

  .header h1 {
    font-size: 25px;
    font-family: "LibreBaskerville";
  }

  /* Banner Card */
  .banner-card video {
    padding-top: 7% !important;
    width: 100% !important;
    height: auto !important;
  }

  .banner-card{
    background: transparent !important;
  }
  
  .desktop-video {
    display: none;
  }

  .mobile-video {
    display: block !important;
  }

  .banner-text {
    top: 66% !important;
    left: 10px;
    padding: 0% !important;
  }

  /* SDG 14 Text */
  .banner-text h4 {
    font-size: 50px !important;
    font-family: "LibreBaskerville";
    text-align: left;
    padding-bottom: 0% !important;
  }

  /* Life Below Water Text */
  .banner-text h2 {
    font-size: 30px !important;
    font-family: "LibreBaskerville";
    padding: 0% !important;
  }

  /* Navigation Bar */
  .toggle-button {
    display: block;
    font-size: 24px;
    padding: 10px;
    background-color: #071952;
    color: #eeeeee;
    position: fixed;
    top: 4px;
    left: 10px;
    z-index: 3;
  }

  .navbar {
    width: 480px;
    height: 120vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #e1d7b7;
    padding-top: 60px;
    z-index: 2;
    transition: left 0.3s ease-in-out;
  }

  .navbar a {
    display: block;
    margin: 10px 0 10px 20px;
    color: #071952;
    font-size: 18px;
    font-family: "Montserrat-Regular";
    padding: 10px;
    text-align: left;
    pointer-events: none;
  }

  .sidebar-checkbox:checked ~ .navbar {
    left: 0;
    background-color: #e1d7b7;
    opacity: 1;
    animation: slideToRight 0.3s ease-in-out;
  }

  .sidebar-checkbox:checked ~ .navbar a {
    pointer-events: auto;
  }

  .sidebar-checkbox:checked ~ .toggle-button {
    animation: rotate 0.3s ease-in-out;
    background-color: #e1d7b7;
    color: #000;
  }

  /* General Styles */
  .home-main-container {
    display: flex;
    flex-direction: column;
  }

  .home-main-container::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1a274e;
    opacity: 1;
    background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #1e2a5e 18px
    );
  }

  /* Content */
  /* Save Our Seas - Protect Life
  Beneath the Breeze Text */
  .title-section h1 {
    color: #e1d7b7;
    font-family: "LibreBaskerville";
    animation: glow 1s ease-in-out infinite alternate;
  }

  /* Description below */
  .title-section p {
    color: #7c93c3;
    max-width: 100% !important;
    font-size: 16px !important;
    text-align: center !important;
    font-family: "Montserrat-Regular";
  }

  .lifeblood-text,
  .seventy-percent-text {
    font-size: 18px !important;
    font-family: "Montserrat-Regular";
    color: #7C93C3 !important;
  }

  .content-container {
    order: 3;
  }

  /* Pictures in Containers */
  .content-container img {
    width: 100% !important;
    max-width: 400px !important;
    height: 250px !important;
  }

  .content-container h2 {
    color: #E1D7B7 !important;
    font-size: 26px !important;
    text-align: center;
    font-family: "LibreBaskerville";
  }

  .text-span {
    color: #7C93C3 !important;
  }

  .content-holder a {
    color: #7C93C3 !important;
  }

  .content-container p {
    font-size: 16px !important;
    max-width: 100% !important;
    text-align: center !important;
    font-family: "Montserrat-Regular";
  }

  .content-container .content-image p {
    font-size: 12px !important;
    color: rgb(255, 255, 255);
  }

  .text-span {
    font-family: "Montserrat-Regular";
  }

  .card {
    width: 100%;
    max-width: 400px !important;
    height: 350px;
    border-radius: 20px;
    z-index: 10;
    background-color: #E1D7B7 !important;
  }

  .card .card-title {
    font-size: 24px;
    font-family: "LibreBaskerville";
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #000000 !important;
  }

  .card .card-body {
    font-size: 16px;
    font-family: "Montserrat-Regular";
    text-align: justify;
    margin-bottom: 1.5rem;
    flex-grow: 1;
    color: #000000 !important;
  }

  .card-reference {
    font-family: "Montserrat-Black";
    color: #55679C !important;
  }

  /* Infinite Slider */
  .infinite-slider {
    order: 4;
    padding: 30px 0 !important;
    background-color: #1e2a5e !important;
  }

  .infinite-slider::before,
  .infinite-slider::after {
    width: 120px;
    height: 90% !important;
  }

  .photo-slider img {
    width: 350px !important;
    height: 200px !important;
    margin: 0 10px !important;
  }

  .photo-slider .credits {
    right: 20px;
    background-color: rgba(151, 151, 151, 0.5);
    transition: right 0.3s ease-in-out;
  }

  .photo-slider .photos:hover .credits {
    margin: 0 20px 0 0 !important;
    font-size: 12px !important;
  }

  /* END OF MEDIA QUERIES FOR HOME PAGE */

  /* NEWS PAGE */
  .news-main-container {
    display: flex;
    flex-direction: column;
  }

  .news-main-container::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    
  }

  /* Text On Image */
  .news-banner-text {
    top: 35% !important;
    text-align: center !important;
  }

  /* SDG 14 text */
  .news-banner-text h2 {
    font-size: 30px;
    font-family: "LibreBaskerville";
    padding-bottom: 1px !important;
  }

  /* Safeguarding Our Oceans Text */
  .news-banner-text h4 {
    font-size: 20px;
    font-family: "LibreBaskerville";
    text-align: center !important;
  }

  .news-banner-card {
    z-index: 10 !important;
  }

  .news-banner-card img {
    padding-top: 12% !important;
    width: 100% !important;
    height: auto !important;
    z-index: 10 !important;
  }

  /* News Text */
  .news-title {
    margin-bottom: 0px !important;
  }

  .news-title-section {
    font-size: 26px !important;
    z-index: 10 !important;
  }

  .news-title-section h1 {
    color: #071952;
    font-family: "LibreBaskerville" !important;
    animation: glow 1s ease-in-out infinite alternate;
  }

  .news-content-image {
    width: 100%;
    max-width: 400px !important;
    height: 250px !important;
  }

  .news-content-image img {
    height: 250px !important;
  }

  .news-content-image .info {
    top: 10px !important;
    color: white !important;
    opacity: 1;
  }

  .news-content-image .info h1 {
    margin-top: 10px !important;
    font-size: 18px !important;
    text-align: left !important;
    padding-bottom: 0px !important;
    font-family: "LibreBaskerville";
  }

  .news-content-image .info p {
    font-size: 12px !important;
    text-align: justify !important;
    padding-bottom: 10px !important;
    color: rgb(255, 255, 255);
  }

  .news-content-image .info .btn {
    padding: 10px 15px !important;
    font-size: 15px !important;
    right: 50px !important;
    top: 175px !important;
    opacity: 1 !important;
    left: 50px !important;
    border-radius: 10px !important;
    position: absolute !important;
    display: block !important;
  }

  .date {
    padding-bottom: 5px !important;
    font-family: "Montserrat-Regular" !important;
  }

  .sdg {
    padding-top: 0px !important;
    font-family: "Montserrat-Regular" !important;
  }

  /* END OF MEDIA QUERIES FOR NEWS PAGE */

  /* INITIATIVES PAGE */
  .initiatives-main-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
  }

  .initiatives-main-container::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #eeeeee 40px
      ),
      repeating-linear-gradient(#cbceff, #bdc1ff);
  }

  .initiatives-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .initiatives-container .initiatives-content {
    width: 500px;
    height: 475px;
    transition: all 0.3s ease-in-out;
    overflow: hidden !important;
    text-overflow: hidden !important;
  }

  .initiatives-container .initiatives-content .initiatives-content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    opacity: 1;
  }

  .initiatives-container .initiatives-content .initiatives-content-info {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 0 15px !important;
    transition: all 0.3s ease-in-out !important;
  }

  .initiatives-container .initiatives-content .initiatives-content-info p {
    width: 300px !important;
    height: 90px;
    text-align: justify !important;
    overflow: hidden !important;
  }

  .initiatives-container .initiatives-content:hover {
    margin: 20px 0;
    width: 500px;
    height: 820px;
  }

  .initiatives-container
    .initiatives-content:hover
    .initiatives-content-info
    p {
    height: auto;
  }

  .initiatives-container .initiatives-content .initiatives-content-image img {
    width: 150px !important;
    height: 150px !important;
  }

  /* PAAYOSSSSSS */
  .initiatives-container .initiatives-content .initiatives-content-info .btn {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .initiatives-banner-card img {
    padding-top: 12% !important;
    width: 100% !important;
    height: auto !important;
  }

  .initiatives-banner-text {
    top: 25% !important;
    left: 40px !important;
    text-align: center !important;
    width: 90% !important;
  }

  /* 14 Text */
  .left-text h1 {
    font-size: 170px !important;
    font-family: "LibreBaskerville" !important;
    margin-left: 20px;
    margin-top: 20px;
  }

  /* Life Below Water */
  .right-text h1 {
    font-size: 30px !important;
    font-family: "LibreBaskerville" !important;
  }

  .initiatives-title-section {
    margin-bottom: 5px !important;
    z-index: 10 !important;
  }

  .initiatives-title-section {
    margin-bottom: 5px !important;
    z-index: 10 !important;
  }

  .initiatives-title-section .initiatives-title,
  .donation-title-section .initiatives-title {
    position: relative;
    color: #071952 !important;
    font-family: "LibreBaskerville" !important;
    animation: glow 1s ease-in-out infinite alternate !important;
    z-index: 10 !important;
  }

  .initiatives-row {
    flex-direction: column !important;
    gap: 20px !important;
    justify-content: flex-start;
  }

  .initiatives-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px !important;
    z-index: 10;
  }

  .initiatives-content-info h3 {
    font-size: 24px !important;
    text-align: center !important;
    font-family: "LibreBaskerville" !important;
  }

  .initiatives-content-info p {
    font-family: "Montserrat-Regular";
    text-align: center !important;
  }

  .todo-row {
    position: relative;
    flex-direction: column !important;
    gap: 10px;
    justify-content: flex-start;
    z-index: 10;
  }

  .todo-row .todo-content {
    background: transparent;
  }

  .todo-info p {
    font-size: 16px !important;
    font-family: "Montserrat-Regular" !important;
  }

  .todo-row .todo-content .todo-image-icon img {
    height: 60px !important;
  }

  /* DONATION CONTAINER */
  .main-donation-container {
    position: relative !important;
    margin: 0 auto !important;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #37b7c3 !important;
    height: 720px !important;
    width: 100% !important;
  }

  .main-donation-container h2 {
    font-size: calc(var(--text-size-header-primary) - 24px) !important;
    text-align: center !important;
    font-family: "LibreBaskerville" !important;
  }

  .main-donation-progress h6 {
    font-size: 20px !important;
    text-align: center !important;
    margin-bottom: 20px !important;
  }

  .main-donation-progress .progress-bar {
    width: 280px !important;
    height: 30px !important;
    border-radius: 30px !important;
    background-color: #eeeeee !important;
    align-items: center !important;
    margin: 0 auto 20px auto !important;
  }

  .main-donation-container p {
    font-size: 16px !important;
    font-family: "Montserrat-Regular" !important;
  }

  .donate-button {
    padding: 0.5 !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    text-wrap: nowrap;
    z-index: 8 !important;
    font-family: "Montserrat-Regular" !important;
  }

  .learnmore-button {
    padding: 0.5 !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    text-wrap: nowrap;
    z-index: 8 !important;
    text-align: center !important;
  }

  .main-donation-container img {
    width: 300px !important;
    height: 180px !important;
  }

  .main-donation-container .main-donation-wave {
    width: 50% !important;
    bottom: 645px !important;
    right: 365px !important;
    z-index: 5 !important;
  }

  .other-donations-title-section {
    position: relative;
    z-index: 10 !important;
    font-family: "LibreBaskerville" !important;
  }

  .other-donations-title-section .other-donations-title {
    font-size: 35px !important;
    text-align: center !important;
    font-family: "LibreBaskerville" !important;
  }

  .donation-details h3 {
    font-family: "LibreBaskerville" !important;
  }

  .donation-cards {
    position: relative;
    z-index: 10 !important;
  }

  .donate-button {
    font-family: "Montserrat-Regular" !important;
  }

  .about-donation p {
    font-family: "Montserrat-Regular" !important;
  }

  /* END OF MEDIA QUERIES FOR INITIATIVES */

  /* ABOUT PAGE */
  .about-main-container {
    display: flex;
    flex-direction: column;
  }

  .about-main-container::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    opacity: 0.5;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #eeeeee 40px
      ),
      repeating-linear-gradient(#cbceff, #bdc1ff);
  }

  .about-title-section {
    order: 2 !important;
    z-index: 10;
  }

  .meet-our-team-container {
    order: 1 !important;
    z-index: 10;
  }

  .about-container {
    order: 3 !important;
    z-index: 10;
  }

  .about-content-section {
    order: 4 !important;
    z-index: 10;
  }

  .about-container {
    width: 100%;
    height: max-content !important;
    background-color: transparent !important;
  }

  .about-gallery {
    height: max-content !important;
    background-color: transparent !important;
  }

  .about-img-box {
    width: 300px !important;
    height: 300px !important;
    margin-bottom: 30px !important;
  }

  .about-img-box:hover {
    width: 300px !important;
    height: 300px !important;
  }

  .about-img-box h3 {
    font-size: calc(var(--text-size-photo-credits) + 2px) !important;
  }

  .about-img-box p {
    font-size: 12px !important;
  }

  .about-img-box:hover h3 {
    left: 15px !important;
    font-family: "LibreBaskerville";
  }

  .about-img-box::before,
  .about-img-box::after {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(211, 202, 202, 0.025)
    ) !important;
  }

  .hero-title {
    font-size: 30px !important;
    font-family: "LibreBaskerville";
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }

  .meet-our-team-container {
    margin-top: 70px !important;
  }

  .about-title-section {
    width: 100%;
  }

  .about-title-section p {
    font-size: 16px !important;
    text-align: center !important;
    font-family: "Montserrat-Regular";
    width: 100% !important;
  }

  .about-content-section {
    margin-top: 1% !important;
  }

  .about-content-section p,
  .meet-our-team-description {
    font-size: 16px !important;
    font-family: "Montserrat-Regular";
  }

  .team-card {
    width: 100% !important;
    max-width: 170px !important;
    height: 250px !important;
    border-radius: 20px;
    margin: 10px 10px !important;
  }

  .team-member-name {
    font-size: calc(var(--text-size-content-parag-var2) - 4px) !important;
    margin-bottom: 30px;
    font-family: "Montserrat-Regular";
  }

  .team-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    margin: 0 auto !important;
  }

  .team-container .team-card img {
    top: 30px !important;
    height: 120px !important;
    width: 120px !important;
  }

  /* APPLIES TO ALL PAGES */
  /* Footer */
  .footer {
    order: 5;
  }

  .footer-content {
    display: flex;
    justify-content: flex-start;
  }

  .footer-column1 {
    width: 50px;
    align-items: center;
    gap: 0px !important;
  }

  .footer-column2 {
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 10px !important;
    margin-left: 10px;
  }

  .footer-column2 .call-message {
    width: 180px !important;
    font-family: "Montserrat-Regular";
  }

  .footer-column2 .call-message p {
    white-space: nowrap;
    font-size: 12px !important;
    font-family: "Montserrat-Regular";
  }

  .footer-column3 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .footer-column3 h3 {
    font-size: 16px;
    font-family: "Librebaskerville";
  }

  .footer-column3 p {
    margin-top: 10px !important;
    font-family: "Montserrat-Regular";
  }

  .footer-logo {
    width: 50px;
    height: 50px;
  }

  .footer-nav {
    display: none;
    gap: 0px;
  }

  .footer-nav a {
    color: #eeeeee;
    text-decoration: none;
    font-size: 12px;
    margin: 0px !important;
  }

  .footer-nav p {
    margin: 0;
    padding: 0;
  }

  .footer p {
    margin: 0;
    font-size: 12px;
    font-family: "Montserrat-Regular";
  }
}

@media screen and (max-width: 425px) {
  .toggle-button {
    background-color: transparent;
  }
  
  .navbar {
    background-color: transparent; 
  }

  .navbar > a::after {
    background-color: transparent;
  }

  .banner-text {
    top: 60% !important;
  }
  .footer-column2 {
    text-align: center;
    column-gap: 10px;
    flex-direction: row;
  }

  .footer-column2 p {
    display: flex !important;
    padding-inline: 5px !important;
    width: auto !important;
    font-family: "Montserrat-Regular";
  }

  .news-content-image .info .btn {
    padding: 10px 15px !important;
    font-size: 15px !important;
    font-weight: bold !important;
  }
  .donation-card {
    width: 100% !important;
  }

  .donation-card img {
    width: 50px !important;
    height: auto !important;
  }

  .donation-card h3 {
    font-size: 20px !important;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10 px #eeeeee, 0 0 20px #eeeeee, 0 0 40px #088395,
      0 0 50px #071952;
  }

  to {
    text-shadow: 0 0 60px #071952, 0 0 70px #eeeeee;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideToRight {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}
