@media (max-width: 1500px) {
  .banner-card {
    position: relative;
  }

  .banner-text {
    position: absolute;
    top: 55% !important;
    left: 10px;
    color: #fff;
    padding: 10px;
  }

  .hero-title {
    font-size: 52px !important;
  }

  .title-section p {
    font-size: 24px !important;
    line-height: 1.5;
  }

  .lifeblood-text,
  .seventy-percent-text,
  .our-aim {
    font-size: 24px !important;
  }

  .content-container {
    flex-direction: column;
  }

  .content-holder h2 {
    font-size: 40px !important;
  }

  .content-holder p {
    font-size: 24px !important;
  }

  .content-container .content-image {
    order: 1;
  }

  .content-container .content-holder {
    order: 2;
    align-items: center;
    justify-content: center;
    margin: 25px 0 0 0 !important;
  }

  .content-holder p {
    max-width: 100%;
    text-align: center !important;
  }

  .left-aligned .content-holder {
    align-items: center !important;
    text-align: center !important;
    margin: 0 auto;
  }

  .left-aligned .content-holder h2 {
    font-weight: bolder;
    color: #071952;
    margin-bottom: 10px;
    text-align: center !important;
  }

  .left-aligned .content-holder p {
    max-width: 100%;
    text-align: center !important;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1.25rem;
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Save Our Seas Text*/
  .header {
    padding: 20px 14%;
  }

  .banner-card {
    position: relative;
  }

  /* Navigation Bar */
  .toggle-button {
    display: block;
    font-size: 30px;
    padding: 10px;
    background-color: #071952;
    color: #eeeeee;
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 2;
  }

  .navbar {
    width: 250px;
    height: 100vh !important;
    position: fixed;
    top: 0;
    left: -250px; 
    background-color: #071952 !important;
    padding-top: 80px;
    z-index: 1;
    transition: left 0.3s ease; 
  }

  .navbar a {
    display: block;
    margin: 15px 0;
    color: #eeeeee;
    font-size: 20px;
    padding: 10px 20px;
    text-align: left;
  }

  .navbar a:after {
    bottom: 0;
    width: 100%;
  }

  a {
    padding: 10px 20px;
  }

  .sidebar-checkbox:checked ~ .navbar {
    left: 0; 
    transition: left 0.3s ease;
  }

  .sidebar-checkbox:checked ~ .toggle-button {
    left: 250px;
    transition: left 0.3s ease;
  }

  /* Content on Home */
  /* SDG 14 Text */
  .banner-text h4 {
    top: 60% !important;
    padding-bottom: none !important;
  }

  /* Life Below Water Text */
  .banner-text h2 {
    font-size: 30px !important;
    padding-bottom: 15px !important;
  }

  /*
  .infinite-slider {
  } */

  .hero-title {
    font-size: 28px !important;
  }

  .title-section p {
    max-width: 100% !important;
    font-size: 16px !important;
  }

  .lifeblood-text,
  .seventy-percent-text,
  .our-aim {
  font-size: 24px !important;
  }

  .content-container h2 {
    font-size: 30px !important;
    text-align: center;
  }

  .content-container p {
    font-size: 16px !important;
    max-width: 100% !important;
  }

  .grid-container {
    grid-template-columns: 1fr !important;
  }

  .card .card-title {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .card .card-body {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 1.5rem;
    flex-grow: 1;
  }

  /* Footer */
  .footer-logo {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 12px;
    left: 12px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Navigation Bar*/
  .footer-column1 {
    order: 2;
    width: 100%;
    justify-content: center;
  }

  /* Contact Information*/
  .footer-column2 {
    order: 1;
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .call-message {
    margin-left: 70px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .footer-column3 {
    order: 3;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .footer-column3 h3 {
    font-size: 16px;
  }

  .footer-column3 p {
    font-size: 12px;
  }

  .copyright {
    /* order: 4 !important;
    margin-top: 10px;
    text-align: center;
    width: 100%; */
    display: none;
  }

  .footer-nav {
    display: flex;
    gap: 5px;
    margin: 5px;
  }
  
  .footer-nav a {
    color: #EEEEEE;
    text-decoration: none;
    font-size: 12px;
    transition: color 0.3s;
  }

  .footer-nav p {
    margin: 0;
    padding: 0 5px;
  }

  .footer p {
    margin: 0;
    font-size: 12px;
  }
} /* End of media queries for phones */

  /* TODO NI JUDRI Add a media query for the about page*/
  .about-container {
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    background: #eeeeee;
    display: flex;
    flex-direction: column !important;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }

  .about-img-box {
    width: 120px !important;
    height: 550px !important;
    margin: 0 10px !important;
  }

  .about-img-box h3 {
    font-size: 26px !important;
  }

  .about-img-box:hover {
    width: 300px !important;
  }
}

@media (max-width: 768px) {
  .about-container {
    width: 100%;
    height: auto;
    background: #000;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }

  .about-img-box {
    width: 75px !important;
    height: 550px !important;
    margin: 0 5px !important;
  }

  .about-img-box h3 {
    font-size: 18px !important;
  }

  .about-img-box p{
    font-size: 12px !important;
  }

  .about-img-box:hover {
    width: 150px !important;
  }

  .about-img-box:hover h3{
    left: 15px !important;
  }
}