@media (max-width: 1500px) {
  .banner-card {
    position: relative;
  }

  .banner-text {
    position: absolute;
    top: 55% !important;
    left: 10px;
    color: #fff;
    padding: 10px;
  }

  .hero-title {
    font-size: 52px !important;
  }

  .title-section p {
    font-size: 24px !important;
    line-height: 1.5;
  }

  .lifeblood-text,
  .seventy-percent-text,
  .our-aim {
    font-size: 24px !important;
  }

  .content-container {
    flex-direction: column;
  }

  .content-holder h2 {
    font-size: 40px !important;
  }

  .content-holder p {
    font-size: 24px !important;
  }

  .content-container .content-image {
    order: 1;
  }

  .content-container .content-holder {
    order: 2;
    align-items: center;
    justify-content: center;
    margin: 25px 0 0 0 !important;
  }

  .content-holder p {
    max-width: 100%;
    text-align: center !important;
  }

  .left-aligned .content-holder {
    align-items: center !important;
    text-align: center !important;
    margin: 0 auto;
  }

  .left-aligned .content-holder h2 {
    font-weight: bolder;
    color: #071952;
    margin-bottom: 10px;
    text-align: center !important;
  }

  .left-aligned .content-holder p {
    max-width: 100%;
    text-align: center !important;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1.25rem;
  }

  .about-container {
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    background: #eeeeee;
    display: flex;
    flex-direction: column !important;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }

  .about-img-box {
    width: 120px !important;
    height: 550px !important;
    margin: 0 10px !important;
  }

  .about-img-box h3 {
    font-size: 26px !important;
  }

  .about-img-box:hover {
    width: 300px !important;
  }
}

@media (max-width: 768px) {
  .about-container {
    width: 100%;
    height: auto;
    background: #000;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }

  .about-img-box {
    width: 75px !important;
    height: 550px !important;
    margin: 0 5px !important;
  }

  .about-img-box h3 {
    font-size: 18px !important;
  }

  .about-img-box p {
    font-size: 12px !important;
  }

  .about-img-box:hover {
    width: 150px !important;
  }

  .about-img-box:hover h3 {
    left: 15px !important;
  }
}

@media (max-width: 480px) {

  /* HOME PAGE */
  /* Save Our Seas Text */
  .header {
    order: 1;
    padding: 10px 13% !important;
  }

  /* Logo */
  .header img {
    width: 40px;
    height: 40px;
  }

  .header h1 {
    font-size: 25px;
  }

  /* Banner Card */
  .banner-card img {
    padding-top: 12% !important;
    width: 100% !important;
    height: auto !important;
  }

  /* SDG 14 Text */
  .banner-text {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    color: #fff;
    padding: 10px;

  }

  /* Life Below Water Text */
  .banner-text h2,
  h4 {
    font-size: 24px !important;
    text-align: left;
  }


  /* Navigation Bar */
  .toggle-button {
    display: block;
    font-size: 24px;
    padding: 10px;
    background-color: #071952;
    color: #eeeeee;
    position: fixed;
    top: 4px;
    left: 10px;
    z-index: 2;
  }

  .navbar {
    width: 480px;
    height: 120vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #071952;
    padding-top: 60px;
    z-index: 1;
    transition: left 0.3s ease;
  }

  .navbar a {
    display: block;
    margin: 10px 0;
    color: #eeeeee;
    font-size: 18px;
    padding: 10px;
    text-align: center;
  }

  .sidebar-checkbox:checked~.navbar {
    left: 0;
  }

  .sidebar-checkbox:checked~.toggle-button {
    left: calc(480px - 40px);
  }

  .main {
    order: 2;
  }

  /* General Styles */
  body {
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
  }

  /* Content */
  /* Save Our Seas - Protect Life
  Beneath the Breeze Text */
  .hero-title {
    font-size: 28px !important;
    width: 100%;
  }

  /* Description below */
  .title-section p {
    max-width: 100% !important;
    font-size: 16px !important;
    text-align: center !important;
  }

  .lifeblood-text,
  .seventy-percent-text {
    font-size: 18px !important;
  }

  .content-container {
    order: 3;
  }

  /* Pictures in Containers*/
  .content-container img {
    width: 100% !important;
    max-width: 400px !important;
  }

  .content-container h2 {
    font-size: 24px !important;
    text-align: center;
  }

  .content-container p {
    font-size: 16px !important;
    max-width: 100% !important;
    text-align: center !important;
  }

  .content-image img {
    width: 100% !important;
    max-width: 1000px !important;
  }

  .card {
    width: 100%;
    max-width: 400px !important;
    height: 350px;
    border-radius: 20px;
  }

  .card .card-title {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .card .card-body {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 1.5rem;
    flex-grow: 1;
  }

  /* Infinite Slider */
  .infinite-slider {
    order: 4;
    padding: 30px 0 !important;
  }

  .infinite-slider::before,
  .infinite-slider::after {
    width: 120px;
    height: 90% !important;
  }

  .photo-slider img {
    width: 350px !important;
    height: 200px !important;
    margin: 0 10px !important;
  }

  .photo-slider .credits {
    right: 20px;
    background-color: rgba(151, 151, 151, 0.5);
    transition: right 0.3s ease-in-out;
  }

  .photo-slider .photos:hover .credits {
    margin: 0 20px 0 0 !important;
    font-size: 12px !important;
  }

  /* END OF MEDIA QUERIES FOR HOME PAGE */

  /* NEWS PAGE */
  .news-banner-card img {
    padding-top: 12% !important;
    width: 100% !important;
    height: auto !important;
  }

  .news-banner-text {
    top: 22% !important;
    text-align: center !important;
  }

  .news-banner-text h2 {
    font-size: 28px;
    padding-bottom: 1px !important;
  }

  .news-banner-text h4 {
    font-size: 20px;
    text-align: center !important;
  }

  .news-title-section {
    font-size: 28px !important;
    text-align: center;
  }

  .news-content-image {
    width: 100%;
    max-width: 400px !important;
    height: 400px !important;
  }

  .news-content-image .info {
    top: 20px !important;
    color: white;

  }

  .news-content-image .info h1 {
    font-size: 20px !important;
    text-align: left !important;
    padding-bottom: 5px !important;
  }

  .news-content-image .info p {
    text-align: justify !important;
    padding-bottom: calc(height - 2px) !important;
  }

  .news-content-image .info .btn {
    left: 37px !important;

  }

  /* END OF MEDIA QUERIES FOR NEWS PAGE */

  /* INITIATIVES PAGE */
  .initiatives-banner-card img {
    padding-top: 12% !important;
    width: 100% !important;
    height: auto !important;
  }

  .initiatives-banner-text {
    top: 20% !important;
    left: 9px !important;
    text-align: center !important;
  }

  .left-text {
    font-size: 120px !important;
  }

  .right-text {
    font-size: 20px !important;
  }

  .initiatives-title {
    font-size: 28px !important;
    color: #071952 !important;
  }

  .initiatives-title-section {
    margin-bottom: 5px !important;
  }

  .initiatives-row {
    flex-direction: column !important;
    gap: 10px;
    justify-content: flex-start;
  }

  .initiatives-content {
    width: 100% !important;
    max-width: 440px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .initiatives-content-image img {
    height: 300px !important;
    width: 300px !important;
  }

  .initiatives-content-info {
    width: 100%;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .initiatives-content-info h3 {
    font-size: 20px !important;
    text-align: center !important;
  }

  .btn {
    padding: 15px 40px;
    left: 125px;
    border: none;
    outline: none;
    color: white;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 0;
    border-radius: 12px;
  }

  .btn::before {
    content: "";
    background: linear-gradient(45deg,
        #37B7C3, #071952, #088395, #1E2A5E,
        #0D7C66, #3A1078, #37B7C3, #179BAE);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
  }

  .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #37B7C3;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }

    50% {
      background-position: 400% 0;
    }

    100% {
      background-position: 0 0;
    }
  }

  .todo-row {
    flex-direction: column !important;
    gap: 10px;
    justify-content: flex-start;
  }

  .todo-info {
    font-size: 16px !important;
  }

  /* END OF MEDIA QUERIES FOR INITIATIVES */

  /* ABOUT PAGE */
  .hero-title {
    font-size: 28px !important;
    text-align: center;
  }

  .about-title-section {
    width: 100%;
  }

  .about-title-section p {
    font-size: 16px !important;
    text-align: justify;
  }

  .about-container {
    flex-direction: column !important;
    gap: 10px;
    justify-content: flex-start;
  }

  .about-content-section p,
  .meet-our-team-description {
    font-size: 16px !important;
  }

  .team-card {
    width: 100% !important;
    max-width: 400px !important;
    height: 350px;
    border-radius: 20px;
  }

  /* Footer */
  .footer {
    order: 5;
  }

  .footer-column1,
  .footer-column2,
  .footer-column3 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .footer-column3 h3 {
    font-size: 14px;
  }

  .footer-column3 p {
    font-size: 12px;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .footer-nav a {
    color: #eeeeee;
    text-decoration: none;
    font-size: 12px;
  }

  .footer-nav p {
    margin: 0;
    padding: 0;
  }

  .footer p {
    margin: 0;
    font-size: 12px;
  }
}