/* For NEWS Page */
.news-banner-card {
  position: relative;

}

.news-banner-card img {
  width: 100%;
  height: auto;
}

.news-banner-text {
  position: absolute;
  top: 37%;
  left: 30px;
  right: 30px;
  color: #fff;
  padding: 10px;
}

.news-banner-text h2 {
  font-size: 105px;
  padding-bottom: 25px;
}

.news-banner-text h4 {
  font-size: 60px;
  padding-bottom: 10px;
}


.news-title-section {
  text-align: left;
  padding: 30px 5%;
}

.news-title {
  font-size: 62px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

.title-section p {
  max-width: 75%;
  font-size: 24px;
  line-height: 2;
  max-width: 70%;
  text-align: center;
  overflow-wrap: break-word;
  margin: 0 auto;
  color: #333333;
}

.news-content-image {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: auto;
}

.news-content-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, #071952, #37B7C3);
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.news-content-image:hover:before {
  opacity: 0.5;
}

.news-content-image img {
  position: relative;
  width: 100%;
  height: 520px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.news-content-image img:hover {
  transform: translateY(20px);
}

.news-content-image .info {
  position: absolute;
  top: 60px;
  left: 40px;
  right: 40px;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.news-content-image:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.news-content-image .info h1 {
  margin: 0;
  font-size: 80px;
  padding-bottom: 30px;
}

.news-content-image .info p {
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 8px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.news-content-image .info .btn {
  padding: 15px 40px;
  border: none;
  outline: none;
  color: white;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 0;
  border-radius: 12px;
}

.news-content-image .info .btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #37B7C3;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.news-content-image .info .btn::before {
  content: "";
  background: linear-gradient(45deg,
      #37B7C3, #071952, #088395, #1E2A5E,
      #0D7C66, #3A1078, #37B7C3, #179BAE);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.date {
  font-weight: thin;
  padding-bottom: 30px;
}

.sdg {
  font-style: oblique;
  padding-top: 30px;
}