@import url(fontface.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

/* TODO: ADD MAIN CONTENT HERE */
main {
  padding: 20px 5%;
  flex: 1;
  margin-top: 80px;
}